<div class="container mt-5">
    <div *ngFor="let taskGroup of tasksGroup" class="mb-4">
        <h2>{{_getSectionTitle(taskGroup.status)}} <span *ngIf="taskGroup.tasks.length > 0">({{taskGroup.tasks.length}})</span> </h2>
        <ul class="list-group">
            <span style="color: rgb(168, 165, 165);" *ngIf="taskGroup.tasks.length === 0" class="p-3">You have 0
                tasks</span>
            <li *ngFor="let task of taskGroup.tasks">
                <app-task [status]="task.status" [title]="task.title" [description]="task.description" [dueDate]="task.dueDate" [id]="task.id"></app-task>
            </li>
        </ul>
    </div>
</div>